<h1>Listing Keyword Entries</h1>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Keywords</th>
      <th>Date</th>
      <th>Google</th>
      <th>Google base rank</th>
      <th>Yahoo</th>
      <th>Bing</th>
      <th>Global monthly searches</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @keyword_entries.each do |entry| %>
      <tr>
        <td><%= entry.keyword.site.name %></td>
        <td><%= entry.keyword.name %></td>
        <td><%= entry.date %></td>
        <td><%= entry.google %></td>
        <td><%= entry.google_base_rank %></td>
        <td><%= entry.yahoo %></td>
        <td><%= entry.bing %></td>
        <td><%= entry.global_monthly_searches %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
