<%= form_for(@keyword_collection) do |f| %>
  <% if @keyword_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword_collection.errors.count, "error") %> prohibited this keyword_collection from being saved:</h2>

      <ul>
      <% @keyword_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.text_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :google %><br>
    <%= f.number_field :google %>
  </div>
  <div class="field">
    <%= f.label :google_base_rank %><br>
    <%= f.number_field :google_base_rank %>
  </div>
  <div class="field">
    <%= f.label :yahoo %><br>
    <%= f.number_field :yahoo %>
  </div>
  <div class="field">
    <%= f.label :bing %><br>
    <%= f.number_field :bing %>
  </div>
  <div class="field">
    <%= f.label :global_monthly_searches %><br>
    <%= f.number_field :global_monthly_searches %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
