<!DOCTYPE html>
<html>
<head>
  <title>CsvVis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_tag upload_csv_keyword_entries_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag :upload_csv %>
<% end %>

<%= yield %>

</body>
</html>
