<!DOCTYPE html>
<html>
<head>
  <title>CsvVis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <nav class="main-nav flexbox margin-bottom-lg">
      <div class="flex-fill">
        <%= link_to "Sites", sites_path, class: "nav-link" %>
        <%= link_to "Keywords", keywords_path, class: "nav-link" %>
        <%= link_to "Entries", keyword_entries_path, class: "nav-link" %>
      </div>
      <div class="flex-auto">
        <%= form_tag upload_csv_sites_path, multipart: true, class: "upload-form" do %>
          <%= file_field_tag :file %>
          <%= submit_tag :upload_csv %>
        <% end %>
      </div>
    </nav>

  <%= yield %>

  </div>
</body>
</html>
